<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="utf-8">
  <title>注册 - Ruidao Exam</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" th:href="@{static/layuiadmin/layui/css/layui.css}"
    media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" th:href="@{static/layuiadmin/style/admin.css}"
    media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/login.css" th:href="@{static/layuiadmin/style/login.css}"
    media="all">
  <link rel="stylesheet" href="../../css/mail.css" th:href="@{static/css/mail.css}">
  <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
  <script src="../../js/Particleground.js" th:src="@{static/js/Particleground.js}"></script>
  <style>
    
    body {
      height: 100%;
      overflow: hidden;
    }

    canvas {
      z-index: -1;
      position: absolute;
    }
  </style>
  <script>
    $(document).ready(function () {
      //粒子背景特效
      $('body').particleground({
        dotColor: '#5cbdaa',
        lineColor: '#5cbdaa'
      });
    });
  </script>
</head>

<body>

  <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
    <div class="layadmin-user-login-main">
      <div class="layadmin-user-login-box layadmin-user-login-header">
        <h2>欢迎来到Ruidao Exam</h2>
        <p>注册开启你的学习之旅吧~</p>
      </div>
      <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
        <div class="layui-form-item">
          <!-- 刘斌 改变固有的图标-->
          <label class="layadmin-user-login-icon layui-icon mailicon icon-tubiao209"
            for="LAY-user-login-cellphone"></label>
          <input type="text" name="eamil" id="LAY-user-login-cellphone" lay-verify="email" placeholder="邮箱"
            class="layui-input">
        </div>
        <div class="layui-form-item">
          <div class="layui-row">
            <div class="layui-col-xs7">
              <label class="layadmin-user-login-icon layui-icon layui-icon-vercode"
                for="LAY-user-login-vercode"></label>
              <input type="text" name="vercode" id="LAY-user-login-vercode" lay-verify="required" placeholder="验证码"
                class="layui-input">
            </div>
            <div class="layui-col-xs5">
              <div style="margin-left: 10px;">
                <button type="button" class="layui-btn layui-btn-primary layui-btn-fluid"
                  id="getEmailCode">获取验证码</button>
              </div>
            </div>
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
          <input type="password" name="password" id="LAY-user-login-password" lay-verify="pass" placeholder="密码"
            class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-repass"></label>
          <input type="password" name="repass" id="LAY-user-login-repass" lay-verify="required" placeholder="确认密码"
            class="layui-input">
        </div>
        <div class="layui-form-item">
          <label class="layadmin-user-login-icon layui-icon layui-icon-username" for="LAY-user-login-nickname"></label>
          <input type="text" name="nickname" id="LAY-user-login-nickname" lay-verify="nickname" placeholder="昵称"
            class="layui-input">
        </div>
        <div class="layui-form-item" > 
            <label class="layui-form-label" style="text-align: center">选择角色</label>
            <div class="layui-input-block" style="
            display: flex;
            justify-content: center;
            align-items: center;">
              <input type="radio" name="sex" value="男" title="男" checked="">
              <input type="radio" name="sex" value="女" title="女">
            
            </div>
        <!-- <div class="layui-row" >
          <div class="layui-col-md6">
              <label  class="layui-form-label" style="text-align: center">选择角色</label>
          </div>
          <div class="layui-col-md6">
              <input type="radio" name="character" value="teacher" title="教师">
              <input type="radio" name="charecter" value="student" title="学生">
          </div>
          
        </div> -->
            
           
            <!-- <input type="checkbox" name="character" lay-skin="switch" lay-text="老师|学生"  checked> -->

          <!-- <input type="checkbox" name="agreement" lay-skin="primary" title="同意用户协议" checked> -->
        </div>
        <div class="layui-form-item">
          <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-user-reg-submit">注 册</button>
        </div>
        <div class="layui-trans layui-form-item layadmin-user-login-other">
          <label>社交账号注册</label>
          <a href="javascript:;"><i class="layui-icon layui-icon-login-qq"></i></a>
          <a href="javascript:;"><i class="layui-icon layui-icon-login-wechat"></i></a>
          <a href="javascript:;"><i class="layui-icon layui-icon-login-weibo"></i></a>

          <a href="login.html" class="layadmin-user-jump-change layadmin-link layui-hide-xs">用已有帐号登入</a>
          <a href="login.html"
            class="layadmin-user-jump-change layadmin-link layui-hide-sm layui-show-xs-inline-block">登入</a>
        </div>
      </div>
    </div>

    <div class="layui-trans layadmin-user-login-footer">

      <p>© 2018 <a href="#" target="_blank">layui.com</a></p>
      <p>
        <span><a href="#" target="_blank">获取授权</a></span>
        <span><a href="#" target="_blank">在线演示</a></span>
        <span><a href="#" target="_blank">前往官网</a></span>
      </p>
    </div>

  </div>

  <script src="../../layuiadmin/layui/layui.js" th:src="@{static/layuiadmin/layui/layui.js}"></script>
  <script>
    //获取验证码的动画
    function showtTime(nums) {

      if (nums == 0) {
        $("#getEmailCode").attr("disabled", false);
        $("#getEmailCode").html("获取验证码");
        nums = 60;
        return;
      } else {
        $("#getEmailCode").attr("disabled", true);
        $("#getEmailCode").html(nums + 's' + '后重发');
        nums--;
      }
      setTimeout(function () {
        showtTime(nums)
      }, 1000)
    }
    layui.config({
      base: '/static/layuiadmin/'  //静态资源所在路径
    }).extend({
      index: 'lib/index' //主入口模块
    }).use(['index', 'user'], function () {
      var $ = layui.$
        , setter = layui.setter
        , admin = layui.admin
        , form = layui.form
        , router = layui.router();

      form.render();
      $("#getEmailCode").click(function () {
        var mailverify = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/
        var mailinput = $("#LAY-user-login-cellphone").val()
        if (mailinput == "") {
          layer.msg("请输入邮箱")
          return
        }
        if (!mailverify.test(mailinput)) {
          layer.msg("邮箱格式不正确")
          return
        } else {
          $.ajax({
            url: "/getverifyemail",
            type: "POST",
            data: { "receiver": mailinput },
            dataType: "text",
            success: function (data) {
              if (data == "1") {
                var nums = 60;
                showtTime(nums);
              }else{
                layer.msg("啊偶，系统出现了一丝丝小问题~")
              }


            },
            error:function(){
              layer.msg("啊偶，系统出现了一丝丝小问题~")
            }
          })





        }
      })



      //提交
      form.on('submit(LAY-user-reg-submit)', function (obj) {
        var field = obj.field;
        console.log(JSON.stringify(field))
        //确认密码
        if (field.password !== field.repass) {
          return layer.msg('两次密码输入不一致');
        }

        

        // //请求接口
        // admin.req({
        //   url: layui.setter.base + 'json/user/reg.js' //实际使用请改成服务端真实接口
        //   , data: field
        //   , done: function (res) {
        //     layer.msg('注册成功', {
        //       offset: '15px'
        //       , icon: 1
        //       , time: 1000
        //     }, function () {
        //       location.hash = '/user/login'; //跳转到登入页
        //     });
        //   }
        // });
        var email=field.email
        var vercode=field.vercode
        var password=field.password
        var repass=field.repass
        var nickname=field.nickname
        var charcter=field.charcter
					console.log(vercode);
					$.ajax({
						url: "/checkverifyemail",
						type: "POST",
						dataType: "text",
						data: {
							"newcode" : vercode 
						},
						success: function(data) {
							if(data == 1){
								alert("验证码正确");
							}else{
								alert("验证码错误");
							}
						},
						error : function(e) {
				            alert("系统异常");
				        }
					});
      

        return false;
      });

 

    });
  </script>
</body>

</html>