@font-face {
  font-family: 'moon';
  src:
    url('fonts/moon.ttf?39sbll') format('truetype'),
    url('fonts/moon.woff?39sbll') format('woff'),
    url('fonts/moon.svg?39sbll#moon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.moon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'moon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.moon-group:before {
  content: "\e92e";
}
.moon-send:before {
  content: "\e92c";
}
.moon-quantity:before {
  content: "\e92d";
}
.moon-entry:before {
  content: "\e900";
}
.moon-balance:before {
  content: "\e901";
}
.moon-user:before {
  content: "\e902";
}
.moon-cog:before {
  content: "\e903";
}
.moon-ht:before {
  content: "\e904";
}
.moon-fp:before {
  content: "\e905";
}
.moon-jyzx:before {
  content: "\e906";
}
.moon-share-cancel:before {
  content: "\e600";
}
.moon-profile:before {
  content: "\e601";
}
.moon-qzone:before {
  content: "\e602";
}
.moon-report-stat:before {
  content: "\e603";
}
.moon-dir-create:before {
  content: "\e604";
}
.moon-tree-toggle:before {
  content: "\e605";
}
.moon-tree-toggle-o:before {
  content: "\e606";
}
.moon-toggle-bottom:before {
  content: "\e607";
}
.moon-toggle-left:before {
  content: "\e608";
}
.moon-toggle-right:before {
  content: "\e609";
}
.moon-toggle-top:before {
  content: "\e60a";
}
.moon-res-published:before {
  content: "\e60b";
}
.moon-dir-move:before {
  content: "\e60c";
}
.moon-res-cancel:before {
  content: "\e60d";
}
.moon-restore-to:before {
  content: "\e60e";
}
.moon-perm-remove-o:before {
  content: "\e60f";
}
.moon-qbank:before {
  content: "\e610";
}
.moon-qbank-o:before {
  content: "\e611";
}
.moon-d1-0:before {
  content: "\e907";
}
.moon-d1-1:before {
  content: "\e908";
}
.moon-d1-2:before {
  content: "\e909";
}
.moon-d1-3:before {
  content: "\e90a";
}
.moon-d1-4:before {
  content: "\e90b";
}
.moon-d1-5:before {
  content: "\e90c";
}
.moon-d1-6:before {
  content: "\e90d";
}
.moon-d1-7:before {
  content: "\e90e";
}
.moon-d1-8:before {
  content: "\e90f";
}
.moon-d1-9:before {
  content: "\e910";
}
.moon-dir-copy:before {
  content: "\e911";
}
.moon-inhibit:before {
  content: "\e912";
}
.moon-expard-vertical:before {
  content: "\e913";
}
.moon-compress-vertical:before {
  content: "\e914";
}
.moon-alipay:before {
  content: "\e915";
}
.moon-label-train:before {
  content: "\e917";
}
.moon-label-hire:before {
  content: "\e918";
}
.moon-label-certify:before {
  content: "\e919";
}
.moon-mail:before {
  content: "\e91a";
}
.moon-qq-circle:before {
  content: "\e91b";
}
.moon-phone:before {
  content: "\e91c";
}
.moon-move:before {
  content: "\e91d";
}
.moon-notice:before {
  content: "\e91e";
}
.moon-plus:before {
  content: "\e91f";
}
.moon-minus:before {
  content: "\e920";
}
.moon-close:before {
  content: "\e921";
}
.moon-check:before {
  content: "\e922";
}
.moon-tweibo:before {
  content: "\e923";
}
.moon-weibo:before {
  content: "\e924";
}
.moon-weixin:before {
  content: "\e925";
}
.moon-qq:before {
  content: "\e926";
}
.moon-subcompany:before {
  content: "\e927";
}
.moon-dingding:before {
  content: "\e928";
}
.moon-non-department2:before {
  content: "\e929";
}
.moon-department:before {
  content: "\e92a";
}
.moon-company:before {
  content: "\e92b";
}