<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>睿道测评在线答题考试</title>

<link href="../css/main.css" rel="stylesheet" type="text/css" th:href="@{static/css/main.css}"/>
<link href="../css/iconfont.css" rel="stylesheet" type="text/css" th:href="@{static/css/iconfont.css}"/>
<link href="../css/test.css" rel="stylesheet" type="text/css" th:href="@{static/css/test.css}"/>
<script src="../js/jquery-1.11.3.min.js" th:src="@{static/js/jquery-1.11.3.min.js}"></script>
<script src="../js/jquery.easy-pie-chart.js" th:src="@{static/js/jquery.easy-pie-chart.js}"></script>
<!--时间js-->
<script src="../js/jquery.countdown.js" th:src="@{static/js/jquery.countdown.js}"></script>
<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.css" th:href="@{static/font-awesome-4.7.0/css/font-awesome.css}" />
<style>
.hasBeenAnswer {
	background: #5d9cec;
	color:#fff;
}
.markQuestion {
	background: #FF6633;
	color:#fff;
}
</style>
<script>  
	/*屏幕切换监控*/
	var cheattimes = 0;
    document.addEventListener('visibilitychange',function(){  
	    if(document.visibilityState=='hidden') {  
	    	normal_title=document.title;
	    	cheattimes++;
	    	document.title='切换屏幕'+cheattimes+'次';
	    	//document.title='(づ￣ 3￣)づ';
	    	//alert("想不到吧，被抓到切屏了！！")
	    }  
	    else  
	    	document.title=normal_title;  
    });  
    
    //下面代码实现全屏显示 
	window.onload = function(){ 
		var Request = new Array();//保存参数 
		var s = location.search.substring(1); 
		if (s && s!=""){ 
		  	var list = s.split("&"); 
			for (var i=0; i < list.length; i++){ 
				var pair = list[i].split("="); 
				if (pair[0] && pair[0] !=""){ 
				Request[unescape(pair[0])] = unescape(pair[1]); 
				} 
			} 
		  } 
		
		var fullscreen=Request["fullscreen"]; 
		if(fullscreen!="yes"){ 
			var file =self.location; 
			var a = window.open("about:blank","","fullscreen=yes") 
			self.opener=null 
			self.close() 
			a.location=file + "?fullscreen=yes"; 
	  	} 
	} 
	window.onbeforeunload=function(){   window.event.returnValue='确认真的要刷新？'   }
    
</script>
<script>
	/*添加标记题目同步答题卡事件*/
	$(function(){

		$("b[class='fa fa-bookmark-o']").click(function(){
			var theclass=['fa fa-bookmark-o','fa fa-bookmark'];
			
			if($(this).attr("class")=="fa fa-bookmark-o"){
				$(this).attr("class","fa fa-bookmark");
				var examId = $(this).prev().prev().closest('li').attr('id'); // 得到题目ID;
				var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡;
				// 设置已答题
				cardLi.addClass('markQuestion');		
			}
			else{
				var examId = $(this).prev().prev().closest('li').attr('id'); // 得到题目ID;
				var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡;
				$(this).attr("class","fa fa-bookmark-o");
				cardLi.removeClass('markQuestion');
			}
			
		})
	})
	
	/*做完某道题，定位答题卡标记蓝色表示已做的事件*/
	$(function() {
		$('li.option').click(function() {
			var examId = $(this).closest('.test_content_nr_main').closest('li').attr('id'); // 得到题目ID
			var cardLi = $('a[href=#' + examId + ']'); // 根据题目ID找到对应答题卡
			// 设置已答题
			if(!cardLi.hasClass('hasBeenAnswer')){
				cardLi.addClass('hasBeenAnswer');
			}
		});
	});
</script>
<script>
	/*确认提交试卷的确认事件*/
	function confirmSubmit(){
	    var clickresult = false;
	    clickresult =window.confirm("提交试卷后内容不可更改,\n确定提交？");
	    if(clickresult==true)
	    {
	    	$("form[id='paper']").submit();
	    	//return clickresult;
	    }
	    else
	    	return clickresult;
	}
</script>

</head>
<body>
<div class="main">
	<!--nr start-->
	<div class="test_main">
		<div class="nr_left">
			<div class="test">
				<form id="paper" action="" method="post">
					<div class="test_title">
						<p class="test_time">
							<i class="fa fa-clock-o"></i><b id="alt-1" class="alt-1">00:01</b>
						</p>
						<font><input type="button" name="test_jiaojuan" onclick="return confirmSubmit()" value="交卷"></font>
					</div>
					
						<div class="test_content">
							<div class="test_content_title">
								<h2>单选题</h2>
								<p>
									<span>共</span><i class="content_lit">5</i><span>题，</span><span>合计</span><i class="content_fs">10</i><span>分</span>
								</p>
							</div>
						</div>
						<div class="test_content_nr">
							<ul>
									<li id="qu_0_0">
										<div class="test_content_nr_tt">
											<i>1</i><span>(1分)</span><font>在生产管理信息系统中，下列操作步骤能正确将工单推进流程的是（  ）</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer1"
																id="0_answer_1_option_1"
															/>
														<label for="0_answer_1_option_1">
															A.
															<p class="ue" style="display: inline;">在工具栏中点击“workflow”标签</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer1"
																id="0_answer_1_option_2"
															/>
														<label for="0_answer_1_option_2">
															B.
															<p class="ue" style="display: inline;">在缺陷单界面中点击“推进流程”按钮</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer1"
																id="0_answer_1_option_3"
															/>
														<label for="0_answer_1_option_3">
															C.
															<p class="ue" style="display: inline;">在缺陷单界面中点击“提交”按钮</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer1"
																id="0_answer_1_option_4"
															/>
														<label for="0_answer_1_option_4">
															D.
															<p class="ue" style="display: inline;">后台启动流程推进</p>
														</label>
													</li>
											</ul>
										</div>
									</li>
								
									<li id="qu_0_1">
										<div class="test_content_nr_tt">
											<i>2</i><span>(1分)</span><font>在营销系统中查询客户有无欠费、余额及抄表数据接待客户时应做到哪些最基本的礼仪？</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer2"
																id="0_answer_2_option_1"
															/>
														<label for="0_answer_2_option_1">
															A.
															<p class="ue" style="display: inline;">起身、微笑、示坐、问候客户</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer2"
																id="0_answer_2_option_2"
															/>
														<label for="0_answer_2_option_2">
															B.
															<p class="ue" style="display: inline;">坐着，问候客户</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer2"
																id="0_answer_2_option_3"
															/>
														<label for="0_answer_2_option_3">
															C.
															<p class="ue" style="display: inline;">坐着，问候客户</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer2"
																id="0_answer_2_option_4"
															/>
														<label for="0_answer_2_option_4">
															D.
															<p class="ue" style="display: inline;">请问需要办理什么业务</p>
														</label>
													</li>
											</ul>
										</div>
									</li>
								
									<li id="qu_0_2">
										<div class="test_content_nr_tt">
											<i>3</i><span>(1分)</span><font>请在下列选项中选择正确进入电力营销系统网址</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer3"
																id="0_answer_3_option_1"
															/>
														<label for="0_answer_3_option_1">
															A.
															<p class="ue" style="display: inline;">http://10.113.225.24:83/epm/static/logon/logon.jsp</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer3"
																id="0_answer_3_option_2"
															/>
														<label for="0_answer_3_option_2">
															B.
															<p class="ue" style="display: inline;">http://10.113.255.24:83/epm/static/logon/logon.jsp</p>
														</label>
													</li>
												
													<li class="option">
														
															<input type="radio" class="radioOrCheck" name="answer3"
																id="0_answer_3_option_3"
															/>
														<label for="0_answer_3_option_3">
															C.
															<p class="ue" style="display: inline;">http://10.113.255.24:81/epm/static/logon/logon.jsp</p>
														</label>
													</li>
											</ul>
										</div>
									</li>
								
									<li id="qu_0_3">
										<div class="test_content_nr_tt">
											<i>4</i><span>(1分)</span><font>如何在电力营销系统查询出客户的是否有余额</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer4"
																id="0_answer_4_option_1"
															/>
														<label for="0_answer_4_option_1">
															A.
															<p class="ue" style="display: inline;">在综合查询下的电量电费查询中进行查询</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer4"
																id="0_answer_4_option_2"
															/>
														<label for="0_answer_4_option_2">
															B.
															<p class="ue" style="display: inline;">在综合查询下的抄表信息查询中点击抄表数据进行查询</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer4"
																id="0_answer_4_option_3"
															/>
														<label for="0_answer_4_option_3">
															C.
															<p class="ue" style="display: inline;">在收费管理下的综合查询中点击欠费查询进行查询</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer4"
																id="0_answer_4_option_4"
															/>
														<label for="0_answer_4_option_4">
															D.
															<p class="ue" style="display: inline;">在收费管理下的坐收交费中进行查询</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
								
									<li id="qu_0_4">
										<div class="test_content_nr_tt">
											<i>5</i><span>(1分)</span><font>检查、使用万用表,用万用表测量一小型加工厂线电压为351V，请问其电压是否合格（  ）</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer5"
																id="0_answer_5_option_1"
															/>
														<label for="0_answer_5_option_1">
															A.
															<p class="ue" style="display: inline;">合格</p>
														</label>
													</li>
												
													<li class="option">
															<input type="radio" class="radioOrCheck" name="answer5"
																id="0_answer_5_option_2"
															/>
														<label for="0_answer_5_option_2">
															B.
															<p class="ue" style="display: inline;">不合格</p>
														</label>
													</li>
											</ul>
										</div>
									</li>
								<!--  标记图标  fa-bookmark fa-bookmark-o-->

							</ul>
						</div>
					
						<div class="test_content">
							<div class="test_content_title">
								<h2>多选题</h2>
								<p>
									<span>共</span><i class="content_lit">10</i><span>题，</span><span>合计</span><i class="content_fs">10</i><span>分</span>
								</p>
							</div>
						</div>
						<div class="test_content_nr">
							<ul>
								
									<li id="qu_1_0">
										<div class="test_content_nr_tt">
											<i>1</i><span>(1分)</span><font>以下属于南方电网员工职业操守中明文规定的有()</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
														
														
															<input type="checkbox" class="radioOrCheck" name="answer1"
																id="1_answer_1_option_1"
															/>
														<label for="1_answer_1_option_1">
															A.
															<p class="ue" style="display: inline;">热爱祖国、热爱南网、热爱岗位</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer1"
																id="1_answer_1_option_2"
															/>
														<label for="1_answer_1_option_2">
															B.
															<p class="ue" style="display: inline;">遵纪守法、忠于职守、令行禁止</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer1"
																id="1_answer_1_option_3"
															/>
														<label for="1_answer_1_option_3">
															C.
															<p class="ue" style="display: inline;">客户至上、诚实守信、优质服务</p>
														</label>
													</li>
												
													<li class="option">
														
														
															<input type="checkbox" class="radioOrCheck" name="answer1"
																id="1_answer_1_option_4"
															/>
														
														<label for="1_answer_1_option_4">
															D.
															<p class="ue" style="display: inline;">公平竞争、互相监督、服从监管</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
								
									<li id="qu_1_1">
										<div class="test_content_nr_tt">
											<i>2</i><span>(1分)</span><font>以下属于南方电网员工职业禁区的有()</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer2"
																id="1_answer_2_option_1"
															/>
														<label for="1_answer_2_option_1">
															A.
															<p class="ue" style="display: inline;">严禁违反人文道德</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer2"
																id="1_answer_2_option_2"
															/>
														<label for="1_answer_2_option_2">
															B.
															<p class="ue" style="display: inline;">严禁违反安全规定</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer2"
																id="1_answer_2_option_3"
															/>
														<label for="1_answer_2_option_3">
															C.
															<p class="ue" style="display: inline;">严禁违背行风规定</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer2"
																id="1_answer_2_option_4"
															/>
														<label for="1_answer_2_option_4">
															D.
															<p class="ue" style="display: inline;">严禁违反财经纪律</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
								
									<li id="qu_1_2">
										<div class="test_content_nr_tt">
											<i>3</i><span>(1分)</span><font>对 “热爱祖国、热爱南网、热爱岗位”理解正确的是()</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer3"
																id="1_answer_3_option_1"
															/>
														<label for="1_answer_3_option_1">
															A.
															<p class="ue" style="display: inline;">坚持南网的利益高于一切</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer3"
																id="1_answer_3_option_2"
															/>
														<label for="1_answer_3_option_2">
															B.
															<p class="ue" style="display: inline;">忠诚南网事业，维护南网利益，实践南网文化，维护南网形象，与公司同呼吸、共命运</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer3"
																id="1_answer_3_option_3"
															/>
														<label for="1_answer_3_option_3">
															C.
															<p class="ue" style="display: inline;">人往高处走，水往低处流，专注于爬上更高的岗位</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer3"
																id="1_answer_3_option_4"
															/>
														<label for="1_answer_3_option_4">
															D.
															<p class="ue" style="display: inline;">个人利益第一，南网利益第二</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
								
									<li id="qu_1_3">
										<div class="test_content_nr_tt">
											<i>4</i><span>(1分)</span><font>优质服务工作的主线是（）</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer4"
																id="1_answer_4_option_1"
															/>
														<label for="1_answer_4_option_1">
															A.
															<p class="ue" style="display: inline;">以客户为中心，提高供电可靠率、减少客户停电时间</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer4"
																id="1_answer_4_option_2"
															/>
														<label for="1_answer_4_option_2">
															B.
															<p class="ue" style="display: inline;">以客户为中心，为客户节省更多的花费</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer4"
																id="1_answer_4_option_3"
															/>
														<label for="1_answer_4_option_3">
															C.
															<p class="ue" style="display: inline;">以公司利益为中心，从客户手中赚取更多的金钱</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer4"
																id="1_answer_4_option_4"
															/>
														<label for="1_answer_4_option_4">
															D.
															<p class="ue" style="display: inline;">以公司利益为中心，提高供电可靠率、减少客户投诉率</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
								
									<li id="qu_1_4">
										<div class="test_content_nr_tt">
											<i>5</i><span>(1分)</span><font>职业操守中明确注明需要增强的意识有哪些（）
①道德意识 ②忧患意识 ③环保意识 ④自律意识 ⑤节约意识</font><b class="fa fa-bookmark-o"></b>
										</div>

										<div class="test_content_nr_main">
											<ul>
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer5"
																id="1_answer_5_option_1"
															/>
														<label for="1_answer_5_option_1">
															A.
															<p class="ue" style="display: inline;">①②③④⑤</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer5"
																id="1_answer_5_option_2"
															/>
														<label for="1_answer_5_option_2">
															B.
															<p class="ue" style="display: inline;">①②③</p>
														</label>
													</li>
												
													<li class="option">
															<input type="checkbox" class="radioOrCheck" name="answer5"
																id="1_answer_5_option_3"
															/>
														<label for="1_answer_5_option_3">
															C.
															<p class="ue" style="display: inline;">②③④</p>
														</label>
													</li>
												
													<li class="option">
														<input type="checkbox" class="radioOrCheck" name="answer5"
																id="1_answer_5_option_4"
															/>
														<label for="1_answer_5_option_4">
															D.
															<p class="ue" style="display: inline;">②③⑤</p>
														</label>
													</li>
												
											</ul>
										</div>
									</li>
	
							</ul>
						</div>
					
				</form>
			</div>

		</div>
		<div class="nr_right">
			<div class="nr_rt_main">
				<div class="rt_nr1">
					<div class="rt_nr1_title">
						<h1>
							<i class="fa fa-file-text"></i>答题卡
						</h1>
						<p class="test_time">
							<i class="fa fa-clock-o"></i><b id="alt-2" class="alt-2">00:01</b>
						</p>
					</div>
					
						<div class="rt_content">
							<div class="rt_content_tt">
								<h2>单选题</h2>
								<p>
									<span>共</span><i class="content_lit">5</i><span>题</span>
								</p>
							</div>
							<div class="rt_content_nr answerSheet">
								<ul>
										<li><a href="#qu_0_0">1</a></li>
									
										<li><a href="#qu_0_1">2</a></li>
									
										<li><a href="#qu_0_2">3</a></li>
									
										<li><a href="#qu_0_3">4</a></li>
									
										<li><a href="#qu_0_4">5</a></li>
								</ul>
							</div>
						</div>
					
						<div class="rt_content">
							<div class="rt_content_tt">
								<h2>多选题</h2>
								<p>
									<span>共</span><i class="content_lit">10</i><span>题</span>
								</p>
							</div>
							<div class="rt_content_nr answerSheet">
								<ul>
										<li><a href="#qu_1_0">1</a></li>
									
										<li><a href="#qu_1_1">2</a></li>
									
										<li><a href="#qu_1_2">3</a></li>
									
										<li><a href="#qu_1_3">4</a></li>
									
										<li><a href="#qu_1_4">5</a></li>
								</ul>
							</div>
						</div>
					
				</div>

			</div>
		</div>
	</div>
	<!--nr end-->
	<div class="foot"></div>
</div>

<script type="text/javascript">
	//倒计时监控事件
   	window.onload=function(){
        daojishi();
    }

 	var counttime=100*60;//总秒钟,60秒
     
    function daojishi(){
    	if(counttime>=0){
        	var ms = counttime%60;//余数 89%60==29秒
            var mis = Math.floor(counttime/60);//分钟
            if(mis>=60){
            	var hour=Math.floor(mis/60);
     			mis=Math.floor((counttime-hour*60*60)/60);
				$("#alt-1").html("考试时间剩余"+hour+"小时"+mis+"分"+ms+"秒");
				$("#alt-2").html(hour+":"+mis+":"+ms);
             }else if(mis>=1){
              	$("#alt-1").html("考试时间剩余"+mis+"分"+ms+"秒");
              	if(mis<10)
              		$("#alt-2").html("00:0"+mis+":"+ms);
          		else
          			$("#alt-2").html("00:"+mis+":"+ms);
             }else{
             	$("#alt-1").html("考试时间剩余"+ms+"秒");
             	$("#alt-2").html("00:00:"+ms);
             }
             counttime--;
             vartt =  window.setTimeout("daojishi()",1000);
	  	}else{
	      	window.clearTimeout(vartt);
	      	//window.confirm("考试时间结束"); 
	      	tijiao();
	  	}
     }
     
     function tijiao(){
     	alert("考试时间结束，系统自动提交！");
        $("form[id='paper']").submit();
        
     }
     
     
     
</script>
<script>
//屏蔽鼠标右键、Ctrl+N、Shift+F10、F11、F5刷新、退格键
document.oncontextmenu = function(){
	return false;
}//屏蔽鼠标右键
window.onhelp = function(){
	return false;
} //屏蔽F1帮助
document.onkeydown = function(){
	if((window.event.altKey)&&((window.event.keyCode==37)||(window.event.keyCode==39))){
	//屏蔽Alt+方向键←
	//屏蔽Alt+方向键→
	event.returnValue=false;
	}
	if((event.keyCode==8)||(event.keyCode==116)||(event.ctrlKey && event.keyCode==82)){
	//屏蔽退格删除键
	//屏蔽F5刷新键
	//Ctrl+R
	event.keyCode=0;
	event.returnValue=false;
	}
	if(event.keyCode==122){
		event.keyCode=0;event.returnValue=false;
	} //屏蔽F11
	if(event.ctrlKey && event.keyCode==78)
		event.returnValue=false; //屏蔽Ctrl+n
	if(event.shiftKey && event.keyCode==121)
		event.returnValue=false; //屏蔽shift+F10
	if(window.event.srcElement.tagName=="A" && window.event.shiftKey)
		window.event.returnValue=false; //屏蔽shift加鼠标左键新开一网页
	if((window.event.altKey)&&(window.event.keyCode==115)){ //屏蔽Alt+F4
		window.showModelessDialog("about:blank","","dialogWidth:1px;dialogheight:1px");
		return false;
	}
}
</script> 


</body>
</html>
