<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" th:href="@{static/layuiadmin/layui/css/layui.css}" media="all">
		<link rel="stylesheet" href="../layuiadmin/style/admin.css"  th:href="@{static/layuiadmin/style/admin.css}" media="all">
		<link rel="stylesheet" href="../layuiadmin/style/template.css" th:href="@{static/layuiadmin/style/template.css}" media="all">
		<link rel="stylesheet" type="text/css" href="../layuiadmin/style/goodslist.css" th:href="@{static/layuiadmin/style/goodslist.css}"/>
		<link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.css" th:href="@{static/font-awesome-4.7.0/css/font-awesome.css}" />
		<script src="../js/jquery-3.1.0.min.js" th:src="@{/static/js/jquery-3.1.0.min.js}"></script>
		<style>
			.paper-item{
				height: 150px;
				/*padding-top: 2px;
				padding-top: color:#00BB00;*/
				border-color: black;
/*				border:2px;*/
/* 				background-color:#00FF00;  */
			}
			.paper-item-bottom{
 				width: auto; 
				height: 40px;
				background-color:#B8BFC8;
			}
/*			.cmdlist-text{}*/
			/*.item-center{
				width: auto; 
				height: 40px;
				margin: 5px;
			}*/
			.toreport{
				position: absolute;
				margin-top: 10px;
				margin-left: 10px;
/*				text-align: left;*/
			}
			.toinvite{
				position: absolute;
				margin-top: 10px;
/*				margin-left: 200px;*/
				margin-left: 71%;
/*				background-color: #DDDDDD;*/
			}
			a:link {color:#000000;}    /* unvisited link */
			a:visited {color:#000000;} /* visited link */
			a:hover {color:#858585}   /* mouse over link */
			a:active {color:#204D74;}
			/*.p{
				margin-left: auto;
				margin-right: auto;
			}*/
			/*body{
				font-size: x-large;
			}*/
			/*.fa-clock-o{
				width: px;
				height: 20px;
			}*/
		</style>
	</head>
	<body>
		<div class="layui-fluid layadmin-cmdlist-fluid">
<!--				<div>-->
						<!--<span class="layui-breadcrumb" lay-separator=">">
 							<a href="">全部分类</a>
							<a href="">软件开发</a>
							<a><cite>共5个题库</cite></a>
						</span>-->
					<div class="goodslist-nav">

						<table class="layui-table" lay-skin="line" style="margin-bottom: 0px;">
								<colgroup>
									<col width="100">
									<col width="80">
									<col width="80">
								</colgroup>
								<tbody>
									<tr>
										<td style="color: gray;">我创建的</td>
										<td>
											<a href=""></a>
										</td>
										<td>
											<a href=""></a>
										</td>
										<td>
											<a href=""></a>
										</td>
									</tr>
								</tbody>

							</table>
					</div>
					<div class="layui-row layui-col-space30" style="margin-top: 10px;" th:remove="(${papers.createpapers} == null)? all:none">
						<div class="layui-col-md3 layui-col-sm3" th:each="createpaper:${papers.createpapers}">
							<div class="cmdlist-container paper-item">
<!--								<a href="javascript:;">-->
									<div class="cmdlist-text">
<!--										<i class="fa fa-book"></i>-->
										<b><p class="info" th:text="${createpaper.paperName}" align="center" style="font-size: 17px;">卷名</p></b>
										<div class="price" style="display: inline;">
											<i class="fa fa-clock-o fa-lg" ></i>&nbsp;&nbsp;&nbsp;<i th:text="${createpaper.paperTime}" style="font-size: 17px; font-style:normal">79</i>
											<!--<span class="flow" th:text="${createpaper.totalScore}" style="font-size: 17px;">
						                      <i class="fa fa-hourglass-start "></i>&nbsp;&nbsp;&nbsp;433
						                    </span>-->
										</div>
										<div class="price" style="display: inline;">
<!--										<i class="fa fa-hourglass-start"></i>-->
										<span class="flow" style="font-size: 17px;">
						                      <i class="fa fa-hourglass-start">&nbsp;&nbsp;&nbsp;<i style=" font-style:normal;" th:text="${createpaper.totalScore}">433</i></i>
						                    </span>
						                </div>
									</div>
<!--								</a>-->
								<div class="paper-item-bottom">
									<div class="item-center">
										<a class="toreport" style="font-size: 14px;" href="">
											<i class="fa fa-file-text-o"></i>查看报告
										</a>
										<a class="toinvite" style="font-size: 14px;" th:href="@{/toinvite(paper_id=${createpaper.paperId})}">
											<i class="fa fa-user-o"></i>考生录入
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="goodslist-nav" style="margin-top: 30px;">
					<table class="layui-table" lay-skin="line" style="margin-top: 0px;">
								<colgroup>
									<col width="100">
									<col width="100">
									<col width="100">
									<col width="100">
								</colgroup>
								<tbody>
									<tr>
										<td style="color: gray;">我购买的</td>
										<td>
											<a href=""><span></span></a>
										</td>
										<td>
											<a href=""><span></span></a>
										</td>
										<td>
											<a href=""><span></span></a>
										</td>
										<td>
											<a href=""><span></span></a>
										</td>
									</tr>
								</tbody>
							</table>				
					</div>
<!--					</div>-->
					<div class="layui-row layui-col-space30" style="margin-top: 10px;" th:remove="(${papers.buypapers} == null)? all:none">
						<div class="layui-col-md3 layui-col-sm3" th:each="buypaper:${papers.buypapers}">
							<div class="cmdlist-container paper-item">
<!--								<a href="javascript:;" style="color: #000000;">-->
									<div class="cmdlist-text">
<!--										<i class="fa fa-book"></i>-->
										<b><p class="info" th:text="${buypaper.paperName}" align="center" style="font-size: 17px;">卷名</p></b>
										<div class="price" style="display: inline;">
											<i class="fa fa-clock-o fa-lg" ></i>&nbsp;&nbsp;&nbsp;<i th:text="${buypaper.paperTime}" style="font-size: 17px; font-style:normal">79</i>
											<!--<span class="flow" th:text="${buypaper.totalScore}" style="font-size: 17px;">
						                      <i class="fa fa-hourglass-start "></i>&nbsp;&nbsp;&nbsp;433
						                    </span>-->
										</div>
										<div class="price" style="display: inline;">
<!--										<i class="fa fa-hourglass-start"></i>-->
										<span class="flow" style="font-size: 17px;">
						                      <i class="fa fa-hourglass-start">&nbsp;&nbsp;&nbsp;<i style=" font-style:normal;" th:text="${buypaper.totalScore}">433</i></i>
						                    </span>
						                </div>
									</div>
<!--								</a>-->
								<div class="paper-item-bottom">
									<div class="item-center">
										<a class="toreport" style="font-size: 14px;" href="">
											<i class="fa fa-file-text-o"></i>查看报告
										</a>
										<a class="toinvite" style="font-size: 14px;" th:href="@{/toinvite(paper_id=${buypaper.paperId})}">
											<i class="fa fa-user-o"></i>考生录入
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>						
			</div>
	</body>
</html>
<script src="../js/jquery-3.1.0.min.js" th:src="@{/static/js/jquery-3.1.0.min.js}"></script>
<script>
	$(function(){
		
	})
</script>
