<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
				<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
		<link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" th:href="@{static/layuiadmin/layui/css/layui.css}" media="all">
		<link rel="stylesheet" href="../layuiadmin/style/admin.css"  th:href="@{static/layuiadmin/style/admin.css}" media="all">
		<link rel="stylesheet" href="../layuiadmin/style/template.css" th:href="@{static/layuiadmin/style/template.css}" media="all">
		<link rel="stylesheet" type="text/css" href="../layuiadmin/style/goodslist.css" th:href="@{static/layuiadmin/style/goodslist.css}"/>
	</head>
	<body>
		<div class="layui-fluid layadmin-cmdlist-fluid">
					<div>
						<span class="layui-breadcrumb" lay-separator=">">
 							<a href="">全部分类</a>
							<a href="">软件开发</a>
							<a><cite>共5个题库</cite></a>
						</span>
					<div class="goodslist-nav">

						<table class="layui-table" lay-skin="line" style="margin-bottom: 0px;">
								<colgroup>
									<col width="100">
									<col width="80">
									<col width="80">
								</colgroup>
								<tbody>
									<tr>
										<td style="color: gray;">排序方式</td>
										<td>
											<a href="">最新</a>
										</td>
										<td>
											<a href="">最热</a>
										</td>
										<td>
											<a href="">相关度</a>
										</td>
									</tr>
								</tbody>

							</table>
					</div>
					<div class="layui-row layui-col-space30" style="margin-top: 10px;">
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
						                      <i class="layui-icon layui-icon-rate"></i>
						                      433
						                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
					<div class="goodslist-nav">
					<table class="layui-table" lay-skin="line" style="margin-top: 0px;">
								<colgroup>
									<col width="100">
									<col width="100">
									<col width="100">
									<col width="100">
								</colgroup>
								<tbody>
									<tr>
										<td style="color: gray;">相关标签</td>
										<td>
											<a href="">IT技术<span>8</span></a>
										</td>
										<td>
											<a href="">前端开发<span>3</span></a>
										</td>
										<td>
											<a href="">后端开发<span>5</span></a>
										</td>
										<td>
											<a href="">软件开发<span>8</span></a>
										</td>
									</tr>
								</tbody>
							</table>				
					</div>
					</div>

					<!--
			----------------------------此处为右侧商品列表----------------------------------------
			-->

					<div class="layui-row layui-col-space30" style="margin-top: 10px;">
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
						                      <i class="layui-icon layui-icon-rate"></i>
						                      433
						                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md3 layui-col-sm3">
							<div class="cmdlist-container">
								<!--
								<a href="javascript:;">
									<img src="../layuiadmin/style/res/template/portrait.png">
								</a>
								-->
								<a href="javascript:;">
									<div class="cmdlist-text">
										<p class="info">《五年编程三年脱发》精选题库</p>
										<div class="price">
											<b>￥79</b>
											<p>
												¥
												<del>130</del>
											</p>
											<span class="flow">
                      <i class="layui-icon layui-icon-rate"></i>
                      433
                    </span>
										</div>
									</div>
								</a>
							</div>
						</div>
						<div class="layui-col-md12 layui-col-sm12">
							<div id="demo0"></div>
						</div>
					</div>
				</div>
	</body>
</html>
